/*general*/

body {
    overflow-x: hidden;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}

input, select, button{
    width: 426px ;
    height: 64px !important;
}

a {
    text-decoration: none !important;
}

/*utilities*/

.min-h-550p {
    min-height: 550px;
}

.min-h-100vh {
    min-height: 100vh;
}

.bg-2nd {
    background-color: white;
}

.btn-colors {
    background-color: #001E66;
    color: #D2AF39 !important;
}

.bg-1st {
    background-color: #30bc5c;
}

/*Borde de los Botones*/
.border-sacns-ge {
    border: 1px solid #001E66 !important;
}

.polygon {
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.fs-4 {
    color: white;
}

.fs-6 {
    font-size: 16px !important;
    color: #001E66 !important;
}

.pointer {
    cursor: pointer;
}

.label-color {
    color: #001E66;
    font-size: 16px;
}   

.fs-7 {
    font-size: 8px !important;
}

.logo {
    font-size: 50px;
}

/*login-page*/

.fst-quote-container {
    background: linear-gradient(0deg, rgba(12, 15, 159, 0.7), rgba(3, 2, 88, 0.7)), url('../img/Colegio.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-quote-login {
    margin-top: 100px;
}

.text-dark{
    color: #D2AF39 !important;
}

.box-pre-login {
    min-height: 96px;
    width: 426px;
    transition: all 300ms;
}

.arrow {
    transition: all 300ms;
}

.arrow svg path {
    fill: #001E66; /*Cambiar de color a la flecha*/
}

.box-pre-login:hover {
    transform: scale(1.1,1.1);
}

.box-pre-login:hover .arrow {
    display: block !important;
}

.col-md-7 {
    background-color: #D2AF39;
}

#containerLoginPageRight {
    max-width: 500px;
}

.text-secondary {
    color: #001E66 !important;
}

.form-control {
    border-color: #001E66 !important;
}

.btn-contactanos {
    background-color: #D2AF39;
    border: 1px solid #001E66;
    border-radius: 30px;
    color: #001E66;
    font-weight: bold;
}