.texto-azul {
    color: #001E66;
}

.texto-mostaza {
    color: #D2AF39;
}

.boton {
    font-weight: bold;
    background-color: #D2AF39;
    color:#001E66;
    border: 2px solid #001E66;
    padding: 10px 20px;
    border-radius: 15px;
}

.boton i {
    margin-right: 15px;
}